.navLogo a span.navLogoAnd {
    font-size: 1.8rem;
    color:white;
    transition: all 0.2s ease-in-out 0s;
}
.navLogo:hover a span.navLogoAnd {
    color: red;
    transition: all 0.2s ease-in-out 0s;
}
.navLogo a span.navLogoWord {
    font-size: 1.8rem;
    color: red;
    transition: all 0.2s ease-in-out 0s;
}
.navLogo:hover a span.navLogoWord {
    color:white;
    transition: all 0.2s ease-in-out 0s;
}
.nav-link {
    font-size: 1.3rem;
    text-decoration: none !important;
}
nav a{
    margin-left: 1rem;
    text-decoration: none;
}
nav .active a{
    color: red !important; 
    font-size: 1.3rem;
    border: 0;
    border-bottom: 0.188rem solid white;
}
.offcanvas{
    background-color: rgb(71, 63, 63);
    color: white;
    width: 100vw;
}
.offcanvas-title{
    color: lightgray
}
.offcanvasLogoAnd{
    color: rgb(240, 42, 42);
}
.offcanvas-body nav a {
    color: rgb(240, 42, 42);
}
.dropdown{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 500;
}

