.errorPage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: red;
    height: 92vh;
    max-width: 100vw;
    font-size: 3rem;
    overflow-x: none;
}
.errorArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.errorParagraphBold{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 5rem;
}
.errorParagraph{
    font-weight: normal;
}

@media only screen and (max-width: 25rem) {
    .errorPage{
        height: 96vh;
        width: 100vw;
        font-size: 2rem;
    }
}