.bsTableContainer{
    padding-top: 1.8rem;
    overflow-x: none;
    overflow-y: auto;
}

@media only screen and (max-width: 50rem) {
    .loadingSpinner{
        padding-top: 3rem;
    }
    .loadingMessage{
        font-size: 1.2rem;
    }
  }