.footerLogo a{
    text-decoration: none;
}
.footerLogo a span.footerLogoAnd {
    color:white;
    transition: all 0.2s ease-in-out 0s;
}
.footerLogo:hover a span.footerLogoAnd {
    color: red;
    transition: all 0.2s ease-in-out 0s;
}
.footerLogo a span.footerLogoWord {
    color: red;
    transition: all 0.2s ease-in-out 0s;
}
.footerLogo:hover a span.footerLogoWord {
    color:white;
    transition: all 0.2s ease-in-out 0s;
}
.pageFooter{
    color: lightgray;
}
.footerParagraph{
    color: darkgray;
}
.footerListLink a{
    text-decoration: none;
    color: darkgray;
}
.footerListLink a:hover{
    color: lightgray;
}
